<div class ="row keycontacts">
<div class="row">
        <div style="margin-left: 20px" ><b>Key Contacts</b></div>
</div>      
<div class="row">
<div class="px-2"></div>
<div class="col-sm-5 col-lg-2" >
        <div class="card text-black">
          <div class="row" >
            <div class="card-body pb-0" style="background-color: rgb(214, 208, 208)" >
              <div class="text-value">Service Owner(IT)</div>
              <div class="card-">test text test text test text test text text </div>
              <div><button type="button"class="btn btn-info pull-right" >Details</button></div>
            </div>
            
          </div>
        </div>
      </div>
      <div class="px-2"></div>
      <!--/.col-->
      <div class="col-sm-5 col-lg-2" >
            <div class="card text-black">
              <div class="row" >
                <div class="card-body pb-0" style="background-color: rgb(214, 208, 208)" >
                  <div class="text-value">Service Owner(IT)</div>
                  <div class="card-">test text test text t test text text text text </div>
                  <div><button type="button"class="btn btn-info pull-right" >Details</button></div>
                </div>
                
              </div>
            </div>
          </div>
      <!--/.col-->
      <div class="px-2"></div>
      <div class="col-sm-5 col-lg-2" >
            <div class="card text-black">
              <div class="row" >
                <div class="card-body pb-0" style="background-color: rgb(214, 208, 208)" >
                  <div class="text-value">Service Owner(IT)</div>
                  <div class="card-" >test text test text test text text text text </div>
                  <div><button type="button"class="btn btn-info pull-right" >Details</button></div>
                </div>
                
              </div>
            </div>
          </div>
          <app-services-sla></app-services-sla>
</div>
</div>