<style type="text/css">
    .TFtable {
        width: 100%;
        border-collapse: collapse;
    }

    .TFtable th {

        padding: 7px;
        border: black 1px solid;
        background-color: rgb(121, 120, 120);
    }

    .TFtable td {
        width: 150px;
        padding: 7px;
        border: black 1px solid;
    }

    .TFtable tr:nth-child(odd) {
        background: lightgray;
    }

    .TFtable tr:nth-child(even) {
        background: white;
    }
</style>
<div class="row serviceSla">
    <table class="table table-responsive-sm table-hover table-outline mb-0 TFtable">
        <thead class="thead">
            <tr>
                <th class="small">ServiceID</th>
                <th class="small">ServiceName</th>
                <th class="small">SLA(Days)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="small text">
                        test
                    </div>
                </td>
                <td>
                    <div class="small text">
                        test
                    </div>
                </td>
                <td>
                    <div class="small text">
                        test
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="small text">
                        test
                    </div>
                </td>
                <td>
                    <div class="small text">
                        test
                    </div>
                </td>
                <td>
                    <div class="small text">
                        test
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="small text">
                        test
                    </div>
                </td>
                <td>
                    <div class="small text">
                        test
                    </div>
                </td>
                <td>
                    <div class="small text">
                        test
                    </div>
                </td>
            </tr>
        </tbody>
    </table>