/* @import "~@coreui/coreui/dist/css/coreui"; */
:host {
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
    font-size: 20px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .content{
    padding-top: 60px;
    padding-bottom: 20px;
  }

.dashboardbtn {
    /* position: absolute;
    bottom: 0 ;
    margin-bottom: 1.5rem; */
    margin-bottom: 1.5rem;
    padding-top: 40px;
}

