/*  SECTIONS  */
.section {
    clear         : both;
    padding       : 0px;
    margin        : 0px;
    padding-bottom: 20px;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float  : left;
    margin : 1% 0 1% 0%;
    height : 100px;
}

.col img {
    margin-left : auto;
    margin-right: auto;
    display     : block;
    cursor      : pointer;
}

.col p {
    margin-left : auto;
    margin-right: auto;
    text-align  : center;
}

.col:first-child {
    margin-left: 0;
}

/*  GROUPING  */
.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
    /* For IE 6/7 */
}

.span_1_of_2 {
    width: 47.5%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
    .col {
        margin: 1% 0 1% 0%;
    }
}

@media only screen and (max-width: 480px) {
    .span_1_of_2 {
        width: 100%;
    }
}

.footer-row {
    display: flex;
}

.footer-button-div {
    flex-grow : 1;
    text-align: center;
}

.footer-button {
    border    : 0;
    background: transparent;
    cursor    : pointer;
}