#portfolioDiv .row img {
    height: 50%;
    width : 50%;
}

#projectsDiv .row img {
    height: 40%;
    width : 40%;
}

#portfolioDiv .row p {
    width     : 50%;
    text-align: center;
}

#projectsDiv .row p {
    width     : 40%;
    text-align: center;
}