<div class="content" role="main">
        <div class="card-container">
          <a class="circle-link" id='Germany' title="Germany" routerLink="/portfolio" >
            <svg id="Group_20" data-name="Group 20" width="100" height="100" viewBox="0 0 100 100">       
             <image  xlink:href="assets/images/DE_flag.png"  width="100" height="100" />
            </svg>
          </a>
          <a class="circle-link" id='UK' title="UK" routerLink="/portfolio" >
            <svg id="Group_20" data-name="Group 20" width="100" height="100" viewBox="0 0 100 100">       
              <image  xlink:href="assets/images/UK_flag.png"  width="100" height="100" />
             </svg>
          </a>
          <a class="circle-link" id='USA' title="USA" routerLink="/portfolio" >
            <svg id="Group_20" data-name="Group 20" width="100" height="100" viewBox="0 0 100 100">       
              <image  xlink:href="assets/images/US_flag.png"  width="100" height="100" />
             </svg>
          </a>   
        </div> 
      </div>
<!--<div>
    <button routerLink="/portfolio">
Forward
    </button>
    <nav>
        <a routerLink="/portfolio" routerLinkActive="active">Service Level</a>
    </nav>
</div>-->