
<div class="row">
        <div style="margin-left: 20px" ><b>Key Contacts</b></div>
</div>      
<div class="row">
<div class="col-sm-5 col-lg-2" >
        <div class="card text-black">
          <div class="row" >
            <div class="card-body pb-0" >
              <div class="text-value">Service Owner(IT)</div>
              <div class="card-">test text </div>
              <div><button type="button" style="float:right">Click Me!</button></div>
            </div>
            
          </div>
        </div>
      </div>
      <!--/.col-->
      <div class="col-sm-5 col-lg-2" >
            <div class="card text-black">
              <div class="row" >
                <div class="card-body pb-0" >
                  <div class="text-value">Service Owner(IT)</div>
                  <div class="card-">test text </div>
                  <div><button type="button" style="float:right">Click Me!</button></div>
                </div>
                
              </div>
            </div>
          </div>
      <!--/.col-->
      <div class="col-sm-5 col-lg-2" >
            <div class="card text-black">
              <div class="row" >
                <div class="card-body pb-0" >
                  <div class="text-value">Service Owner(IT)</div>
                  <div class="card-">test text </div>
                  <div><button type="button" style="float:right">Click Me!</button></div>
                </div>
                
              </div>
            </div>
          </div>
</div>