/* .descHeading{
  float: left;
  width: 70%;
  margin-left:-25mm;
  font-weight: bold
}
.impactHeading{
  float:right;
  width: 30%;
  margin-left:20mm;
  font-weight: bold
} */



/* .description {
    height: 200px;
    width: 70%;
    display: block;
    color: black;
    font-family: verdana;
    font-size: 60%;
    float: left;
    margin-left:-25mm;
    border-style: hidden
    
    
  }
  .impact{
    height: 200px;
    width: 30%;
    display: block;
    color: rgb(12, 0, 0);
    font-family: verdana;
    font-size: 60%;
    border-style: solid;
    float: right;
    margin-left:20mm

  } */

  p{
    font-size: 1em;
  }