<div class="card">
    <div class="card-body">
        <div class="col-sm-12 col-md-12 col-lg-12 text-justify float-left">
            <h3>Service Description :: PMS</h3>
            <p>Hello this is the text for the service description of pms
                Its asset management division, which consists of PIMCO, Allianz Global Investors Allianz sold Dresdner
                Bank to Commerzbank in November 2008.[5] As a result of this transaction, Allianz gained a 14%
                controlling stake in the new Commerzbank.
                Its asset management division, which consists of PIMCO,
                Its asset management division, which consists of PIMCO,
                Its asset management division, which consists of PIMCO,
                Its asset management division, which consists of PIMCO,</p>
        </div>
    </div>
</div>