<div class="table-div">
    <table class="table table-responsive-sm table-hover table-outline mb-0 table-fixed">
        <thead class="thead-light">
            <tr>
                <th class="small">Service</th>
                <th class="small">Domain</th>
                <th class="small">Manager</th>
                <th class="small">Completed</th>
                <th class="small">In progress</th>
                <th class="small">Breached</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let subProject of projectDetails$" (click)="showDatasourcing()" class="cursor-pointer">
                <td>
                    <div class="small text-muted">
                        {{subProject.name}}
                    </div>
                </td>
                <td>
                    <div class="small text-muted">
                        {{subProject.department}}
                    </div>
                </td>
                <td>
                    <div class="small text-muted">
                        {{subProject.manager.firstName}} {{subProject.manager.lastName}}
                    </div>
                </td>
                <td>
                    <div class="bg-success small text-white sub-project-card">
                        {{subProject.activeSLA}}
                    </div>
                </td>
                <td>
                    <div class="bg-warning small text-white sub-project-card">
                        {{subProject.atRiskSLA}}
                    </div>
                </td>
                <td>
                    <div class="bg-danger small text-white sub-project-card">
                        {{subProject.breachedSLA}}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>