<div class="row dashboardbtn">
    <div class="btn-group btn-group-toggle mr-3 col-sm-12 " data-toggle="buttons" style="align-content: bottom;">
        <label class="btn btn-outline-secondary bg-white" btnRadio="1" id="option1">Kraft</label>
        <label class="btn btn-outline-secondary bg-white" btnRadio="2" id="option2">Life</label>
        <label class="btn btn-outline-secondary bg-white" btnRadio="3" id="option3">CFS</label>
        <label class="btn btn-outline-secondary bg-white" btnRadio="4" id="option4">PMS</label>
    </div>
</div>