html,
body {
    height: 100%;
}

#page-content {
    flex: 1 0 auto;
}

#sticky-footer {
    position        : fixed;
    bottom          : 0px;
    width           : 100%;
    height          : 10%;
    background-color: #003781;
}

.footer-row {
    display: flex;
}

.back-button-div,
.dummy-button-div {
    width: 20%;
    float: left;
}

.back-button-div button {
    border    : none;
    outline   : none;
    background: transparent;
    cursor    : pointer;
}

.back-button-div button img {
    width      : 25%;
    height     : 40%;
    float      : left;
    margin-left: 5px;
}

.footer-text {
    width      : 60%;
    font-size  : 1rem;
    color      : rgb(0, 0, 0);
    font-family: Georgia, sans-serif;
}