<body class="d-flex flex-column">
    <footer id="sticky-footer" class="py-4 text-white-50">
        <div class="container">
            <div class="footer-row">
                <div class="footer-button-div">
                    <button (click)="showHomePage()" class="footer-button">
                        <img src="assets/images/footer/home.png" width="70" height="50" alt="submit" />
                    </button>
                </div>
            </div>
        </div>
        <div class="container text-center">
            <small>Copyright &copy; www.allianz.com</small>
        </div>
    </footer>
</body>