<!-- <body class="d-flex flex-column"> -->
    <footer id="sticky-footer" class="page-footer font-small fixed-bottom">
        <!-- <div class="container"> -->
        <!--   <div class="footer-row">-->
        <div class="footer-button-div">
          <button
            type="button"
            class="btn btn-primary btn-large btn-rounded "
            (click)="showHomePage()"
          >
            <i class="fa fa-home" style="font-size:24px"></i>
          </button>
        </div>
        <!--  </div> -->
        <!-- </div> -->
        <div class="footer-copyright text-center py-3">
          <a href="https://allianz.com/">Copyright &copy; www.allianz.com</a>
        </div>
      </footer>
      <!-- </body> -->
      