:host {
  font-family            : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size              : 20px;
  color                  : #333;
  box-sizing             : border-box;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dashboardbtn {
  position     : absolute;
  bottom       : 0;
  margin-bottom: 1.5rem;
}